
*.xml
*.xml
*.xml
*.xml
*.json
*.txt
*.len
*.at
*.kotlin_module
*.bin
*.class
*.properties
*.java
*.tab_i
*.h
*.jar
*.dex
*.tab
*.keystream
.dart_tool/flutter_build/c83ad4b443bfcd83db6f93d0df02fa2e/.filecache
*.dill
*.stamp
*.d
.dart_tool/package_config_subset
.dart_tool/version
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.tflite
*.ttf
build/app/intermediates/flutter/debug/.last_build_id
*.otf
*.lock
test/
android/
build/
ios/
web/